html {
-webkit-print-color-adjust: exact;
}

body {
font-family: "Arial";
font-size: 13px;
}


table {
border-collapse: collapse;
}

table {
border: 2px solid;
}

td,
th {
min-width: 11px;
border: 1px solid;
text-align: center;
height: 30px;
}

thead {
background-color: #c4e6fa;
color: #000;
}

#objednavaci_kod {
width: 800px;
margin-bottom: 20px;
font-weight: bold;
background-color: #c4e6fa;
font-size: 14px;
}


.prva_tabulka {
width: 583px;
font-size: 11px;
margin-bottom: 20px;
}

#order_code_label {
width: 500px;
text-align: start;
margin-left: 5px;
border: 0;
}

#kod {
border: 0;
}

.mala_tab {
height: 10px;
}

.obalena_tab1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stisknute, .stisknute:hover  {
  background-color: #a1cac7
}

.nestisknute {
  background-color: white
}

/* .policka:hover {
  background-color: aquamarine;
} */

#objednavaci_kod {
  margin-top: 20px;
  width: 800px;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #c4e6fa;
  font-size: 14px;
}

.centrovak {
  display: flex;
  justify-content: center;
}

.tmavo_modry_obdlznik {
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: 36px;
  background-color: #142e6b;
  border-radius: 6px;
  margin-top: 20px;
}

.biely_text {
  color: white;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.hlavny_obrazok {
  height: 160px;
}

.uvod {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.SK-text {
  margin-left: 25px;
}

.SK-nadpis {
  margin-left: 25px
}

.last_element {
  width: 22px
}

.druha_tabulka {
  width: 629px;
  font-size: 11px;
  margin-bottom: 20px;
}

.tretia_tabulka {
  width: 660px;
  font-size: 11px;
  margin-bottom: 20px;
}

.stvrta_tabulka {
  width: 690px;
  font-size: 11px;
  margin-bottom: 20px;
}

.piata_tabulka {
  width: 720px;
  font-size: 11px;
  margin-bottom: 20px;
}

#druha_strana {
  padding-top: 10px;
}

.siesta_tabulka {
  width: 750px;
  font-size: 11px;
  margin-bottom: 20px;
}

.siedma_tabulka {
  width: 780px;
  font-size: 11px;
  margin-bottom: 20px;
}

.nemozes {
  background-color: red;
}

.zmen {
  background-color: green;
}